.file-upload-form {
  margin: 2rem auto;
  padding: 20px;
  font-family: 'Helvetica';
  background-color: white;
  border-radius: 5px;
  width: 30%;
}

.blue-button {
  height: 50px;
  margin: 15px 0px;
  background: #24a0ed;
  border: none;
  color: white;
  font-size: 1rem;
  font-family: 'Helvetica';
  font-weight: bold;
  border-radius: 2px;
  cursor: pointer;
  width: 100%;
}

.gray-button {
  height: 50px;
  margin: 15px 0px;
  background: gray;
  border: none;
  color: white;
  font-size: 1rem;
  font-family: 'Helvetica';
  font-weight: bold;
  border-radius: 2px;
  cursor: pointer;
  width: 100%;
}

.cancel-save-container {
  display: block;
}

.cancel-save-container .gray-button {
  width: 48%;
  float: left;
}

.cancel-save-container .blue-button{
  width: 48%;
  float: right;
}

.location-table, .hotel-table, .amenities-table, .room-table {
  margin-left: 2rem;
  margin-right: 2rem;
  margin-bottom: 4rem;
  font-family: 'Helvetica';
}

/* location table */

.location-table-column-header {
  width: 17%;
}

.location-table-button-column {
  width: 15%;
}

/* hotel table */

.hotel-table-heading {
  display: flex;
  align-items: center;
}

.hotel-table-column-header {
  width: 14%;
}

.hotel-table-button-column {
  width: 10%;
}

.add-location-button {
  border-radius: 2px;
  font-size: 1rem;
  font-family: 'Helvetica';
  width: 200px;
  padding: 5px;
  background: #24a0ed;
  border: none;
  color: white;
  font-weight: bold;
  cursor: pointer;
  height: 30px;
  float: right;
}

.add-hotel-modal-form-input {
  display: block;
  align-items: center;
  margin: 10px 0px;
  width: 100%;
}

/* Amenities table */

.amenities-table-column-header-1 {
  width: 35%;
}

.amenities-table-column-header-2 {
  width: 50%;
}

.amenities-table-button-column {
  width: 15%;
}

/* Room table */

.room-table-column-header-1 {
  width: 35%;
  /* width: 25%; */
}

.room-table-column-header-2 {
  width: 50%;
  /* width: 35%; */
}

.room-table-button-column {
  width: 15%;
}

/* modal form */

.modal-form {
  padding: 10px;
  font-family: 'Helvetica';
  background-color: white;
}