.hotel-card {
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  padding: 10px 20px;
  font-family: 'Helvetica';
  background-color: white;
}

.hotel-info {
  width: 14%;
}

.edit-hotel-button {
  border-radius: 2px;
  box-sizing: border-box;
  font-size: 1rem;
  font-family: 'Helvetica';
  width: 100%;
  padding: 5px;
  background: #24a0ed;
  border: none;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.delete-hotel-button {
  border-radius: 2px;
  box-sizing: border-box;
  font-size: 1rem;
  font-family: 'Helvetica';
  width: 100%;
  padding: 5px;
  background: #d11a2a;
  border: none;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.edit-delete-container {
  display: block;
  width: 16%;
}

.edit-delete-container .edit-hotel-button {
  width: 48%;
  float: left;
}

.edit-delete-container .delete-hotel-button {
  width: 48%;
  float: right;
}

.edit-hotel-modal-form-input {
  display: flex;
  align-items: center;
  margin: 10px 0px;
  width: 100%;
}

.edit-hotel-modal-form-input label {
  width: 50%;
}

.edit-hotel-modal-form-input input {
  width: 50%;
}