.hotel-card {
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  padding: 20px;
  font-family: 'Helvetica';
  background-color: white;
  border-radius: 5px;
}

.hotel-info {
  width: 15%;
}

.edit-hotel-button {
  border-radius: 2px;
  box-sizing: border-box;
  font-size: 1rem;
  font-family: 'Helvetica';
  width: 10%;
  padding: 10px;
  background: #24a0ed;
  border: none;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.edit-hotel-modal-form-input {
  display: flex;
  align-items: center;
  margin: 10px 0px;
  width: 100%;
}

.edit-hotel-modal-form-input label {
  width: 50%;
}

.edit-hotel-modal-form-input input {
  width: 50%;
}