.cardContainer{
    padding: 100px 16px;
}

.card{
    margin: auto;
    max-width: 1000px;
    min-width: 400px;
    display:grid;
    grid-template-columns: auto max-content;
    height: 400px;
    box-shadow: 0 4px 8px rgb(139 139 139);
    border-radius: 16px;
    overflow: hidden;
}

.cardColumnText{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 32px;
    font-size: 18px;
}

.cardImage{
    height: 400px;
}

.cardTextHeader{
    font-size: 22px;
    font-weight: 600;
    color: #252525;
    text-align: center;
}