.booking-details-container {
  margin: 2rem auto;
  padding: 20px;
  font-family: 'Helvetica';
  background-color: white;
  border-radius: 5px;
  width: 50%;
}

.booking-details-row-container {
  display: flex;
}

.success-message {
  font-family: Helvetica;
  font-size: 1,5rem;
  font-weight: bold;
  color: black;
  background-color: lightgreen;
  text-align: center;
  padding: 10px;
}

.center {
  /* display: flex; */
  /* justify-content: center; */
  text-align: center;
}

.confirm-button {
  width: 50%;
}

.home-button {
  height: 50px;
  margin-top: 15px;
  margin-bottom: 15px;
  background: gray;
  border: none;
  color: white;
  font-size: 1rem;
  font-family: 'Helvetica';
  font-weight: bold;
  border-radius: 50px;
  cursor: pointer;
  width: 50%;
}