.payment-form-container {
  margin: 2rem auto;
  padding: 20px;
  font-family: 'Helvetica';
  background-color: white;
  border-radius: 5px;
  width: 30%;
}

.total-container {
  display: flex;
}

.name-container {
  display: flex;
}

.left-input {
  float: left;
  width: 97%;
}

.right-input {
  float: right;
  width: 97%;
}

.expiry-cvc-container {
  display: flex;
}