.reservation-card {
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  padding: 20px;
  font-family: 'Helvetica';
  background-color: white;
  border-radius: 5px;
}

.reservation-info {
  width: 15%;
}

.cancel-reservation-button {
  border-radius: 2px;
  box-sizing: border-box;
  font-size: 1rem;
  font-family: 'Helvetica';
  width: 20%;
  padding: 10px;
  background: #d11a2a;
  border: none;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.reservation-room-number, .reservation-price {
  width: 10%;
}